.generate_token_container
  - if game.has_permission?(current_user, "show")
    = form_for game, :url => generate_show_access_token_path(game), :remote => true do |f|
      = f.submit "Generate Show Key"
.generate_token_container
  - if game.has_permission?(current_user, "edit")
    = form_for game, :url => generate_edit_access_token_path(game), :remote => true do |f|
      = f.submit "Generate Edit Key"
.generate_token_container
  .token_url
.cb

:javascript
  $(document).ready(function()  {
    $('form[id^=edit_game]').bind("ajax:success", function(event, data) {
      $('.token_url').html(data.url);
    });
  });
