- if user_signed_in?
  %ul{"class" => "tabs"}
    %li= link_to "Home", root_path
    - if can? :read, User
      %li= link_to "Manage Users", users_path
    - if can? :read, Event
      %li= link_to "Events", events_path 
    - if can? :read, Post
      %li= link_to "Posts", posts_path

